@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap');

:root {
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Josefin Slab', serif;
    --button-transition-time: 0.5s;
    --button-hover-opacity: 0.8;
}